* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color__orange{
    color:rgb(255, 84, 0);
}
.box__container{
    margin: 0 auto;
    width: 90%;
}

/* nav-bar */
.nav__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.nav__logo{
    display: flex;
    align-items: center;
    gap:15px;
}
.nav__logo h3{
    font-size: 36px;
}
.nav__link ul{
    display: flex;
    gap:44px;
    list-style: none;
    font-size: 18px;
}
.hero__section {
    background-image: url(assets/Group\ 13\ \(1\)\ \(1\).png) ;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    gap: 20px;
 
}
.hero__section p{
    font-size: 16px;
    padding-bottom: 48px;
}
.hero__section h2 {
    font-size: 50px;

}

.input-place {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 8px;
    border: none;
}

.button-color {
    padding: 5px 5px;
    border: none;
    color: aliceblue;
    background-color: rgb(255, 84, 0);
    font-weight: 500;
    font-size: 20px;
    border-radius: 8px;
}

.booking-field {
    border-radius: 8px;
   border: none;
    padding: 16px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    gap: 24px;
}

/* Small Mobile (480px and below) */
@media (max-width: 480px){
    .nav__bar{
        flex-direction: column;
        gap:10px;  
    }
    
    .nav__link ul{
        flex-direction: column;
        align-items: center;
    }
    .hero__section {
        height: 100vh;
     
    }
    .booking-field{
        flex-direction: column;
     background-color: none;
    }

}

/* Mobile (up to 600px) */
@media (min-width: 480px) and (max-width: 600px){
    .nav__bar{
        flex-direction: column;
        gap:10px;
        
    }
    
    .nav__link ul{
        flex-direction: column;
        align-items: center;
    }
    .hero__section {
        height: 100vh;
     
    }
    .booking-field{
        flex-direction: column;
     background-color: none;
    }

}

/* Tablet (600px to 768px) */
@media (min-width: 600px) and (max-width: 768px){
    .nav__bar{
        flex-direction: column;
        gap:10px;
        
    }
    
    .nav__link ul{
        flex-direction: column;
        align-items: center;
    }
    .hero__section {
        height: 100vh;
     
    }
}

/* Small Desktop (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px){

}